{% load static %}
<style>
    /* Уникальные стили для текста внутри тега <a> */
    .unique-link {
      color: black; /* Цвет текста */
      font-size: 18px; /* Размер шрифта */
      font-weight: bold; /* Жирный шрифт */
      text-decoration: none; /* Убрать подчеркивание */
      /* Другие стили, если нужно */
    }
</style>
<div class="iknow_tm_modalbox">
    <div class="box_inner">
      <div class="close">
        <a href="#">
          <img class="svg" src="{% static 'img/svg/cancel.svg' %}" alt />
        </a>
      </div>
      <div class="description_wrap"></div>
    </div>
</div>
<div class="iknow_tm_mobile_menu">
    <div class="mobile_menu_inner">
      <div class="mobile_in">
        <a href="#home" class="unique-link">"Кенеш" орто мектеби</a>
        <div class="trigger">
          <div class="hamburger hamburger--slider">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown_inner">
        <ul class="transition_link">
            <li class="current">
              <a href="#home">Башкы бет</a>
            </li>
            <li>
              <a href="{{header.header_one.url}}">Мугалим жөнүндө жалпы маалымат</a>
            </li>
            <li>
              <a href="{{header.header_two}}">Мугалимдин ишмердүүлүгү <br>(презентация)</a>
            </li>
            <li>
              <a href="{{header.header_three.url}}">Укуктук ченемдик актылар</a>
            </li>
            <li>
              <a href="{{header.header_four.url}}">Билим берүү стандарты</a>
            </li>
            <li>
              <a href="{{header.header_five.url}}">Өнүктүрүү планы</a>
            </li>
            <li>
              <a href="{{header.header_six.url}}">Брейринг иштелмелери</a>
            </li>
            <li>
                <a href="{{header.header_seven.url}}">Көрсөтмө куралдар</a>
            </li>
            <li>
              <a href="#contact">Байланыш</a>
            </li>
        </ul>
        {% comment %} <ul class="transition_link">
          <li class="current">
            <a href="#home">Башкы бет</a>
          </li>
          <li>
            <a href="{{header.header_one}}">Мугалим жөнүндө жалпы маалымат</a>
          </li>
          <li>
            <a href="#resume">Resume</a>
          </li>
          <li>
            <a href="#portfolio">Portfolio</a>
          </li>
          <li>
            <a href="#service">Service</a>
          </li>
          <li>
            <a href="#testimonials">Testimonial</a>
          </li>
          <li>
            <a href="#news">Blog</a>
          </li>
          <li>
            <a href="#contact">Байланыш</a>
          </li>
        </ul> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="iknow_tm_sidebar_2">
    <div class="sidebar_inner">
      <div class="logo">
        <a href="#home" class="unique-link">"Кенеш" орто мектеби</a>
      </div>
      <div class="menu transition_link">
        <ul>
            <li class="active">
                <img class="svg" src="{% static 'img/svg/squares.svg' %}" alt />
                <span>Башкы бет</span>
                <a class="iknow_tm_full_link" href="#home"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/archive.svg' %}" alt />
                <span>Мугалим жөнүндө жалпы маалымат </span>
                <a class="iknow_tm_full_link" href="{{header.header_one.url}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/contacs.svg' %}" alt />
                <span>Мугалимдин ишмердүүлүгү (презентация)</span>
                <a class="iknow_tm_full_link" href="{{header.header_two}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/briefcase.svg' %}" alt />
                <span>Укуктук ченемдик актылар</span>
                <a class="iknow_tm_full_link" href="{{header.header_three.url}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/gear.svg' %}" alt />
                <span>Билим берүү стандарты</span>
                <a class="iknow_tm_full_link" href="{{header.header_four.url}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/message.svg' %}" alt />
                <span>Өнүктүрүү планы</span>
                <a class="iknow_tm_full_link" href="{{header.header_five.url}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/writing.svg' %}" alt />
                <span>Брейринг иштелмелери</span>
                <a class="iknow_tm_full_link" href="{{header.header_six.url}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/writing.svg' %}" alt />
                <span>Көрсөтмө куралдар</span>
                <a class="iknow_tm_full_link" href="{{header.header_seven.url}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/letter.svg' %}" alt />
                <span>Байланыш</span>
                <a class="iknow_tm_full_link" href="#contact"></a>
            </li>
            <span class="ccc"></span>
        </ul>
        {% comment %} <ul>
            <li class="active">
                <img class="svg" src="{% static 'img/svg/squares.svg' %}" alt />
                <span>Башкы бет</span>
                <a class="iknow_tm_full_link" href="#home"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/archive.svg' %}" alt />
                <span>Мугалим жөнүндө жалпы маалымат </span>
                <a class="iknow_tm_full_link" href="{{header.header_one}}"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/contacs.svg' %}" alt />
                <span>Resume</span>
                <a class="iknow_tm_full_link" href="#resume"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/briefcase.svg' %}" alt />
                <span>Portfolio</span>
                <a class="iknow_tm_full_link" href="#portfolio"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/gear.svg' %}" alt />
                <span>Service</span>
                <a class="iknow_tm_full_link" href="#service"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/message.svg' %}" alt />
                <span>Testimonial</span>
                <a class="iknow_tm_full_link" href="#testimonials"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/writing.svg' %}" alt />
                <span>Blog</span>
                <a class="iknow_tm_full_link" href="#news"></a>
            </li>
            <li>
                <img class="svg" src="{% static 'img/svg/letter.svg' %}" alt />
                <span>Байланыш</span>
                <a class="iknow_tm_full_link" href="#contact"></a>
            </li>
            <span class="ccc"></span>
        </ul> {% endcomment %}
      </div>
    </div>
</div>