{% extends 'include/homepage.html' %}
{% load static %}
{% block content%}
    <div id="preloader">
      <div class="loader_line"></div>
    </div>
    <div class="iknow_tm_all_wrap" data-magic-cursor="show" data-enter="zoomIn" data-exit="zoomOut">
      
      {% include "include/header.html" %}

      
      <div class="iknow_tm_fixed_mainpart">
        <div class="mainpart_inner">
          <div class="simple_shapes">
            <span class="one anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="two anim_moveLeft">
              <img class="svg" src="{% static 'img/svg/shapes/dot.svg' %}" alt />
            </span>
            <span class="three anim_moveTop">
              <img class="svg" src="{% static 'img/svg/shapes/dot-2.svg' %}" alt />
            </span>
            <span class="four anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/1.svg' %}" alt />
            </span>
            <span class="five anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/8.svg' %}" alt />
            </span>
            <span class="six anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/3.svg' %}" alt />
            </span>
            <span class="seven anim_right">
              <img class="svg" src="{% static 'img/svg/shapes/4.svg' %}" alt />
            </span>
            <span class="eight anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="nine anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/3.svg' %}" alt />
            </span>
            <span class="ten anim_moveLeft">
              <img class="svg" src="{% static 'img/svg/shapes/4.svg' %}" alt />
            </span>
            <span class="eleven anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="twelve anim_extra">
              <img class="svg" src="{% static 'img/svg/shapes/2.svg' %}" alt />
            </span>
            <span class="thirteen anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/5.svg' %}" alt />
            </span>
            <span class="fourteen anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="fifteen anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/3.svg' %}" alt />
            </span>
            <span class="sixteen anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="seventeen anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/5.svg' %}" alt />
            </span>
            <span class="eighteen anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="nineteen anim_scale">
              <img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt />
            </span>
            <span class="twenty anim_circle">
              <img class="svg" src="{% static 'img/svg/shapes/1.svg' %}" alt />
            </span>
          </div>
          <div class="topbar_extra">
            <div class="details">
              <div class="iknow_tm_button">
                <a href="{{user_info.resume}}" download>CV ЖҮКТӨП АЛЫҢЫЗ</a>
              </div>
            </div>
          </div>
          <div class="iknow_tm_content_extra">
            {% include "include/pages/home.html" %}
            {% include "include/pages/about.html" %}
            {% include "include/pages/resume.html" %}
            {% include "include/pages/portfolio.html" %}
            {% include "include/pages/service.html" %}
            {% include "include/pages/testimonials.html" %}
            {% include "include/pages/news.html" %}
            {% include "include/pages/contact.html" %}
          </div>
          <div class="extra_copyright">
            <div class="iknow_tm_copyright">
              <div class="inner">
                <div class="left">
                  <p>Designed with love &copy; <a href="https://themeforest.net/user/marketify" target="_blank">Marketify</a>
                  </p>
                </div>
                <div class="right">
                  <ul>
                    <li>
                      <a href="#">Terms &amp; Condition</a>
                    </li>
                    {% comment %} <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="#">Login</a>
                    </li> {% endcomment %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mouse-cursor cursor-outer"></div>
      <div class="mouse-cursor cursor-inner"></div>
    </div>
{% endblock %}